@import url("https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100;200;300;400;500;600;700&family=Koh+Santepheap:wght@100;300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

fieldset {
  border: none;
}

.hidden {
  position: absolute;
  top: -9999px;
  opacity: 0;
}

.wrap::after {
  content: "";
  display: block;
  clear: both;
}

#header_sub {
  position: relative;
  padding: 2vh 5vw 10vh;
  background: #fff;
}
#header_sub h1 {
  position: absolute;
  top: 2vh;
  left: 5vw;
  font: bold 35px/1 "arial";
  z-index: 10;
}
#header_sub h1::before {
  content: "";
  position: absolute;
  top: 50px;
  left: 50%;
  width: 1px;
  height: 40px;
  background: #bbb;
}
#header_sub h1::after {
  content: "mordern architecture service";
  position: absolute;
  width: 250px;
  top: 130px;
  left: 0%;
  font: 12px/1 "arial";
  transform-origin: 8% top;
  transform: rotate(90deg);
  letter-spacing: 2px;
  color: #bbb;
}
#header_sub nav {
  text-align: center;
}
#header_sub nav ul {
  display: inline-block;
  margin-top: 5px;
}
#header_sub nav ul li {
  float: left;
  margin-left: 30px;
}
#header_sub nav ul li a {
  font: 17px/1 "arial";
  color: #aaa;
}

section .content .sub_visual {
  position: relative;
  min-height: 300px;
  background: #fafafa;
  z-index: 1;
}
section .content .sub_visual .inner {
  width: 1180px;
  margin: 0 auto;
  position: relative;
}
section .content .sub_visual .inner h1 {
  position: absolute;
  top: -35px;
  left: 0;
  font: bold 70px/1 "arial";
}
section .content .sub_content {
  padding: 150px 0;
}
section .content .sub_content .inner {
  width: 1180px;
  margin: 0 auto;
  position: relative;
}

#footer_sub {
  background: #fafafa;
  width: 100%;
}
#footer_sub .inner {
  width: 1180px;
  margin: 0 auto;
  padding: 50px 0;
}
#footer_sub .inner .connect {
  margin-bottom: 70px;
  font-size: 0;
}
#footer_sub .inner .connect legend {
  font: 14px/1 "arial";
  margin-bottom: 20px;
}
#footer_sub .inner .connect input {
  margin-right: 2%;
  width: 23.5%;
  height: 40px;
  background: #fafafa;
  border: none;
  border-bottom: 1px solid #ccc;
  font: 16px/1 "arial";
  color: #a09c9c;
}
#footer_sub .inner .connect button {
  width: 23.5%;
  height: 40px;
  background: #333;
  color: #fff;
}
#footer_sub .inner address {
  display: flex;
  font-style: normal;
}
#footer_sub .inner address div {
  width: 25%;
}
#footer_sub .inner address div strong {
  display: block;
  margin-bottom: 30px;
  font: bold 15px/1 "arial";
  letter-spacing: 2px;
  color: #444;
}
#footer_sub .inner address div p, #footer_sub .inner address div small {
  font: normal 16px/1.7 "arial";
  color: #aaa;
}
#footer_sub .inner address div p em, #footer_sub .inner address div small em {
  font: bold normal 15px/1 "arial";
  color: #444;
}
#footer_sub .inner address div a {
  margin-right: 20px;
  font: 18px/1 "arial";
  color: #777;
}
#footer_sub .inner address div:last-of-type {
  text-align: right;
}

#community .content .sub_content {
  background: #fafafa;
}
#community .content .sub_content .inner table {
  margin: 0 0 70px;
  width: 100%;
  border-top: 2px solid #000;
  border-collapse: collapse;
}
#community .content .sub_content .inner table caption {
  margin-bottom: 60px;
  font: 26px/1 "Koh Santepheap";
}
#community .content .sub_content .inner table th, #community .content .sub_content .inner table td {
  border-bottom: 1px solid #999;
  padding: 25px 20px;
}
#community .content .sub_content .inner table th {
  font: bold 17px/1 "arial";
  color: #444;
}
#community .content .sub_content .inner table th:nth-of-type(2) {
  width: 70%;
}
#community .content .sub_content .inner table td {
  text-align: center;
  font: normal 15px/1 "arial";
  color: #777;
}
#community .content .sub_content .inner table td:nth-of-type(2) {
  text-align: left;
  color: #444;
}
#community .content .sub_content .inner .paging {
  display: flex;
  justify-content: center;
  font-size: 0;
}
#community .content .sub_content .inner .paging a {
  display: inline-block;
  margin-left: -1px;
  width: 30px;
  height: 30px;
  border: 1px solid #888;
  color: #444;
  text-align: center;
  font: normal 13px/30px "arial";
}
#community .content .sub_content .inner .paging a.on {
  background: #555;
  color: #fff;
}

#gallery .content .sub_content .gallery {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#gallery .content .sub_content .gallery article {
  margin-bottom: 100px;
  width: 32%;
}
#gallery .content .sub_content .gallery article h1 {
  width: 90%;
  font: 400 22px/1.3 "arial";
  margin-bottom: 15px;
}
#gallery .content .sub_content .gallery article .wrap {
  margin-bottom: 50px;
}
#gallery .content .sub_content .gallery article .wrap p {
  float: left;
  margin-right: 20px;
  width: 35%;
  font: 13px/1 "arial";
}
#gallery .content .sub_content .gallery article .pic {
  display: block;
  margin-bottom: 70px;
  filter: grayscale(1);
}
#gallery .content .sub_content .gallery article a {
  font: 16px/1 "Advent Pro";
  color: #444;
}
#gallery .content .sub_content .gallery aside {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  padding: 70px;
}
#gallery .content .sub_content .gallery aside span {
  position: absolute;
  top: 25px;
  right: 30px;
  color: #fff;
  font: 25px/1 "arial";
  cursor: pointer;
}

#youtube .sub_content .inner h2 {
  font: 40px/1 "Koh Santepheap";
  padding-bottom: 70px;
  border-bottom: 1px solid #ddd;
}
#youtube .sub_content .inner article {
  width: 100%;
  padding: 40px 0;
  display: flex;
  border-bottom: 1px solid #ddd;
}
#youtube .sub_content .inner article .pic {
  width: 33.333%;
}
#youtube .sub_content .inner article p {
  display: flex;
  align-items: center;
  width: 33.333%;
  padding: 0 4vw;
  font: 35px/1.2 "Koh Santepheap";
  text-decoration: underline;
}
#youtube .sub_content .inner article .btn {
  width: 33.333%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#youtube .sub_content .inner article .btn a {
  font: 20px/1 "Advent Pro";
  color: crimson;
}
#youtube .sub_content .inner article .btn a i {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background: crimson;
  color: #fff;
}

figure {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  display: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
figure button {
  position: absolute;
  top: 30px;
  right: 30px;
  font: 20px/1 "arial";
  color: #fff;
}

#location h2 {
  margin-bottom: 50px;
  text-align: center;
  font: 30px/1 "Koh Santepheap";
}
#location #map {
  width: 100%;
  height: 600px;
  margin-bottom: 30px;
  border: 1px solid #333;
}
#location h3 {
  margin-bottom: 20px;
  font: 23px/1 "Koh Santepheap";
}
#location article {
  width: 49%;
  padding: 20px;
  height: 250px;
  margin-right: 2%;
  margin-bottom: 2%;
  float: left;
  border: 1px solid #e5e5e5;
  cursor: pointer;
}
#location article:nth-of-type(even) {
  margin-right: 0;
}
#location article img {
  width: 50%;
  float: left;
}
#location article dl, #location article strong {
  float: left;
  padding-left: 30px;
  font: 20px/1 "arial";
}
#location article dl {
  width: 50%;
}
#location article dl div {
  margin-bottom: 15px;
}
#location article dl div::after {
  content: "";
  display: block;
  clear: both;
}
#location article dl div dt {
  display: inline-block;
  padding-right: 10px;
  color: #333;
  font: 16px/1 "arial";
}
#location article dl div dd {
  display: inline-block;
  color: #666;
  font: 14px/1 "arial";
}
#location article strong {
  margin-bottom: 15px;
}

#header {
  padding: 2vh 5vw;
  background: #fff;
}
#header h1 {
  position: relative;
  float: left;
  font: bold 35px/1 "arial";
}
#header h1::before {
  content: "";
  position: absolute;
  top: 50px;
  left: 50%;
  width: 1px;
  height: 40px;
  background: #bbb;
}
#header h1::after {
  content: "mordern architecture service";
  position: absolute;
  width: 250px;
  top: 130px;
  left: 0%;
  font: 12px/1 "arial";
  transform-origin: 8% top;
  transform: rotate(90deg);
  letter-spacing: 2px;
  color: #bbb;
}
#header nav {
  float: right;
}
#header nav ul {
  margin-top: 5px;
}
#header nav ul::after {
  content: "";
  display: block;
  clear: both;
}
#header nav ul li {
  float: left;
  margin-left: 30px;
}
#header nav ul li a {
  font: 17px/1 "arial";
  color: #aaa;
}
#header .hambergur {
  display: none;
  float: right;
  position: relative;
  width: 25px;
  height: 25px;
}
#header .hambergur::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: #333;
}
#header .hambergur::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: #333;
}
#header .hambergur span {
  display: block;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 4px;
  margin-top: -2px;
  background: #333;
  text-indent: -9999px;
}

#visual {
  position: relative;
  width: 100%;
}
#visual .inner {
  width: 1180px;
  margin: 0 auto;
}
#visual .inner .slide {
  width: 100%;
  height: 600px;
  overflow: hidden;
  position: relative;
}
#visual .inner .slide ul {
  width: 300%;
  height: 100%;
}
#visual .inner .slide ul li {
  width: 33.333%;
  height: 100%;
  float: left;
  position: relative;
}
#visual .inner .slide ul li .txt {
  width: 45%;
  position: absolute;
  top: 10%;
  left: 0;
}
#visual .inner .slide ul li .txt h1 {
  margin-bottom: 20px;
  font: bold 60px/1.1 "Koh Santepheap";
}
#visual .inner .slide ul li .txt h1 span {
  display: block;
  margin-bottom: 20px;
  font: bold 14px/1 "Advent Pro";
  color: #666;
  letter-spacing: 1.5px;
}
#visual .inner .slide ul li .txt p {
  margin-bottom: 15px;
  font: 15px/1.7 "arial";
}
#visual .inner .slide ul li .txt a {
  font: 500 14px/1 "Advent Pro";
  color: #777;
  letter-spacing: 1px;
}
#visual .inner .slide ul li .pic {
  width: 75%;
  height: 100%;
  float: right;
}
#visual .inner .slide .paging {
  position: absolute;
  bottom: 0;
  left: 25%;
  width: 200px;
  height: 70px;
  background: #fff;
  font-size: 0;
}
#visual .inner .slide .paging > span {
  position: relative;
  top: -3px;
  display: inline-block;
  width: 33.3333%;
  font: 13px/1 "arial";
  text-align: center;
  letter-spacing: 5px;
  color: #aaa;
}
#visual .inner .slide .paging button {
  display: inline-block;
  width: 33.3333%;
  height: 100%;
  color: #aaa;
  font-size: 20px;
}
#visual .inner .slide .paging button.prev {
  text-align: right;
}
#visual .inner .slide .paging button.next {
  text-align: left;
}

#introducing .inner {
  width: 1180px;
  margin: 0 auto;
  position: relative;
}
#introducing .inner article {
  width: 100%;
}
#introducing .inner article .pic {
  height: 330px;
}
#introducing .inner article .pic:nth-of-type(1) {
  width: calc(25% + 200px);
}
#introducing .inner article .pic:nth-of-type(2) {
  width: 30%;
  margin-left: 25%;
}
#introducing .inner article .txt {
  width: 35%;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
#introducing .inner article .txt h1 {
  margin-bottom: 20px;
  font: 40px/1.4 "Koh Santepheap";
}
#introducing .inner article .txt h1 span {
  display: block;
  margin-bottom: 20px;
  font: bold 14px/1 "arial";
  color: #666;
  letter-spacing: 1.5px;
}
#introducing .inner article .txt p {
  margin-bottom: 15px;
  font: 15px/1.7 "arial";
}
#introducing .inner article .txt a {
  font: 12px/1 "arial";
  color: #888;
}

#project .inner .swiper {
  width: 100%;
  height: 700px;
}
#project .inner .swiper .swiper-wrapper {
  width: 100%;
  height: 100%;
}
#project .inner .swiper .swiper-wrapper .swiper-slide {
  width: 1180px;
  height: 100%;
  position: relative;
}
#project .inner .swiper .swiper-wrapper .swiper-slide .txt {
  position: absolute;
  top: 0;
  left: 0;
  width: 25%;
  padding: 50px 40px;
  background: #333;
  color: #fff;
}
#project .inner .swiper .swiper-wrapper .swiper-slide .txt h1 {
  margin-bottom: 20px;
  font: 30px/1.4 "Koh Santepheap";
}
#project .inner .swiper .swiper-wrapper .swiper-slide .txt h1 span {
  display: block;
  margin-bottom: 20px;
  font: bold 14px/1 "arial";
  letter-spacing: 1.5px;
}
#project .inner .swiper .swiper-wrapper .swiper-slide .txt .des p {
  font: 17px/2 "arial";
  color: #666;
}
#project .inner .swiper .swiper-wrapper .swiper-slide .txt .des p strong {
  color: #999;
}
#project .inner .swiper .swiper-wrapper .swiper-slide .txt a {
  display: inline-block;
  margin-top: 25px;
  font: 12px/1 "arial";
  color: #eee;
}
#project .inner .swiper .swiper-button-prev {
  justify-content: space-between;
  left: 50%;
  margin-left: -720px;
  padding-left: 20px;
  background: #fff;
  width: 100px;
  height: 60px;
  color: #aaa;
  letter-spacing: 3px;
}
#project .inner .swiper .swiper-button-prev i {
  font-size: 20px;
}
#project .inner .swiper .swiper-button-prev::after {
  display: none;
}
#project .inner .swiper .swiper-button-next {
  justify-content: space-between;
  right: 50%;
  margin-right: -720px;
  padding-right: 20px;
  background: #fff;
  width: 100px;
  height: 60px;
  color: #aaa;
  letter-spacing: 3px;
}
#project .inner .swiper .swiper-button-next i {
  font-size: 20px;
}
#project .inner .swiper .swiper-button-next::after {
  display: none;
}

#service {
  padding: 100px 0 50px;
}
#service .inner {
  width: 1180px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#service .inner div {
  width: 45%;
}
#service .inner div h1 {
  margin-bottom: 20px;
  font: normal 35px/1.3 "Koh Santepheap";
}
#service .inner div h1 span {
  display: block;
  margin-bottom: 20px;
  font: 14px/1 "arial";
}
#service .inner div a {
  display: block;
  font: 12px/1 "arial";
  color: #888;
}
#service .inner ul {
  width: 50%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#service .inner ul li {
  width: 45%;
  list-style-type: square;
  border-bottom: 1px solid #bbb;
  color: #bbb;
}
#service .inner ul li a {
  display: block;
  text-transform: uppercase;
  color: #bbb;
  height: 55px;
  font: 15px/55px "arial";
}

#news {
  padding: 50px 0;
}
#news .inner {
  width: 1180px;
  margin: 0 auto;
}
#news .inner article {
  width: 50%;
  float: left;
  height: 250px;
  position: relative;
  background: #000;
}
#news .inner article:nth-of-type(1) {
  height: 500px;
}
#news .inner article:nth-of-type(2) {
  display: flex;
  flex-direction: row-reverse;
}
#news .inner article:nth-of-type(2) img {
  width: 50%;
}
#news .inner article:nth-of-type(2) div {
  width: 50%;
  height: 100%;
}
#news .inner article:nth-of-type(3) {
  padding: 35px 40px;
}
#news .inner article > h1 {
  font: bold 13px/1 "arial";
  letter-spacing: 2px;
  color: #fff;
  margin-bottom: 20px;
}
#news .inner article > h1 i {
  font-size: 22px;
  color: dodgerblue;
}
#news .inner article > p {
  margin-bottom: 20px;
  color: #777;
}
#news .inner article em, #news .inner article span {
  display: block;
  color: #aaa;
  font-style: normal;
  line-height: 1.6;
}
#news .inner article div {
  width: 50%;
  height: 50%;
  padding: 25px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #fff;
}
#news .inner article div span {
  display: block;
  font: 15px/1 "arial";
  color: #999;
  margin-bottom: 10px;
}
#news .inner article div h1 {
  margin-bottom: 20px;
  font: bold 27px/1.2 "Koh Santepheap";
  color: #333;
}
#news .inner article div a {
  font: 12px/1 "arial";
  color: #888;
}

#member {
  padding: 50px 0 100px;
}
#member .inner {
  width: 1180px;
  margin: 0 auto;
}
#member .inner h1 {
  display: block;
  margin-bottom: 40px;
  font: 14px/1 "arial";
}
#member .inner > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#member .inner > div article {
  width: 30%;
  position: relative;
}
#member .inner > div article .pic {
  overflow: hidden;
  filter: grayscale(1);
  margin-bottom: 35px;
}
#member .inner > div article .pic img {
  transform: translateY(25%) scale(1.5, 1.5);
}
#member .inner > div article h2 {
  font: bold 25px/1 "arial";
  margin-bottom: 20px;
}
#member .inner > div article p {
  color: #bbb;
}
#member .inner > div article ul {
  position: absolute;
  top: 0;
  right: 0;
}
#member .inner > div article ul li {
  padding: 0 10px 10px 0;
}
#member .inner > div article ul li a {
  font-size: 18px;
  color: #888;
}

footer {
  background: #fafafa;
}
footer .inner {
  width: 1180px;
  margin: 0 auto;
  padding: 50px 0;
}
footer .inner .connect {
  margin-bottom: 70px;
  font-size: 0;
}
footer .inner .connect legend {
  font: 14px/1 "arial";
  margin-bottom: 20px;
}
footer .inner .connect input {
  margin-right: 2%;
  width: 23.5%;
  height: 40px;
  background: #fafafa;
  border: none;
  border-bottom: 1px solid #ccc;
  font: 16px/1 "arial";
  color: #a09c9c;
}
footer .inner .connect button {
  width: 23.5%;
  height: 40px;
  background: #333;
  color: #fff;
}
footer .inner address {
  display: flex;
  font-style: normal;
}
footer .inner address div {
  width: 25%;
}
footer .inner address div strong {
  display: block;
  margin-bottom: 30px;
  font: bold 15px/1 "arial";
  letter-spacing: 2px;
  color: #444;
}
footer .inner address div p, footer .inner address div small {
  font: normal 16px/1.7 "arial";
  color: #aaa;
}
footer .inner address div p em, footer .inner address div small em {
  font: bold normal 15px/1 "arial";
  color: #444;
}
footer .inner address div a {
  margin-right: 20px;
  font: 18px/1 "arial";
  color: #777;
}
footer .inner address div:last-of-type {
  text-align: right;
}

/* tablet */
@media screen and (max-width: 1460px) {
  #header h1::before {
    display: none;
  }
  #header h1::after {
    display: none;
  }

  #project .inner .swiper .swiper-button-prev {
    justify-content: flex-start;
    margin-left: -100px;
    top: calc(100% - 60px);
    margin-top: 0;
  }
  #project .inner .swiper .swiper-button-prev i {
    padding-right: 10px;
  }
  #project .inner .swiper .swiper-button-next {
    justify-content: flex-end;
    margin-right: -100px;
    top: calc(100% - 60px);
    margin-top: 0;
  }
  #project .inner .swiper .swiper-button-next i {
    padding-left: 10px;
  }
}
@media screen and (max-width: 1179px) {
  #header nav {
    display: none;
  }
  #header .hambergur {
    display: block;
  }

  #visual .inner {
    width: 100%;
    padding: 0 20px;
  }
  #visual .inner .slide ul li .txt {
    width: 60%;
  }
  #visual .inner .slide ul li .txt h1 {
    font: bold 50px/1.1 "Koh Santepheap";
  }
  #visual .inner .slide ul li .txt p {
    font: 16px/1.7 "arial";
  }

  #introducing .inner {
    width: 100%;
    padding: 10px;
  }
  #introducing .inner article {
    width: 100%;
  }
  #introducing .inner article .pic {
    height: 280px;
  }
  #introducing .inner article .pic:nth-of-type(1) {
    width: 50%;
  }
  #introducing .inner article .pic:nth-of-type(2) {
    width: 50%;
  }
  #introducing .inner article .txt {
    width: 35%;
    right: 12vw;
  }
  #introducing .inner article .txt h1 {
    font: 28px/1.2 "Koh Santepheap";
  }
  #introducing .inner article .txt a {
    color: #fff;
  }

  #project .inner .swiper .swiper-wrapper .swiper-slide {
    width: 100%;
  }
  #project .inner .swiper .swiper-wrapper .swiper-slide .txt {
    width: 100%;
    background: transparent;
  }
  #project .inner .swiper .swiper-wrapper .swiper-slide .txt .des {
    display: none;
  }
  #project .inner .swiper .swiper-wrapper .swiper-slide .txt a {
    font: 14px/1 "arial";
  }

  #service .inner {
    width: 100%;
    padding: 0 20px;
  }
  #service .inner div {
    width: 45%;
  }
  #service .inner div h1 {
    margin-bottom: 60px;
    font: normal 30px/1.3 "Koh Santepheap";
  }
  #service .inner div a {
    font: 14px/1 "arial";
  }

  #news .inner {
    width: 100%;
  }
  #news .inner article {
    width: 100%;
  }
  #news .inner article a {
    font: 12px/1 "arial";
    color: #888;
  }

  #member .inner {
    width: 100%;
    padding: 0 20px;
  }
  #member .inner > div {
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
  }
  #member .inner > div article {
    width: 100%;
  }
  #member .inner > div article p {
    margin-bottom: 50px;
  }

  footer .inner {
    width: 100%;
    padding: 50px 20px;
  }
  footer .inner .connect input {
    width: 49%;
    margin-bottom: 20px;
  }
  footer .inner .connect input:nth-of-type(2) {
    margin-right: 0;
  }
  footer .inner .connect button {
    width: 49%;
  }
  footer .inner address {
    flex-wrap: wrap;
  }
  footer .inner address div {
    width: 50%;
    margin-bottom: 50px;
  }
  footer .inner address div:last-of-type {
    text-align: left;
  }
}
@media screen and (max-width: 539px) {
  #header nav {
    display: none;
  }

  #visual .inner {
    width: 100%;
    padding: 0 20px;
  }
  #visual .inner .slide ul li .txt {
    width: 60%;
  }
  #visual .inner .slide ul li .txt h1 {
    font: bold 50px/1.1 "Koh Santepheap";
  }
  #visual .inner .slide ul li .txt p {
    font: 16px/1.7 "arial";
  }

  #introducing .inner {
    width: 100%;
    padding: 10px;
  }
  #introducing .inner article {
    width: 100%;
  }
  #introducing .inner article .pic {
    height: 280px;
  }
  #introducing .inner article .pic:nth-of-type(1) {
    width: 50%;
  }
  #introducing .inner article .pic:nth-of-type(2) {
    width: 50%;
  }
  #introducing .inner article .txt {
    width: 35%;
    right: 12vw;
  }
  #introducing .inner article .txt h1 {
    font: 28px/1.2 "Koh Santepheap";
  }
  #introducing .inner article .txt a {
    color: #fff;
  }

  #project .inner .swiper .swiper-wrapper .swiper-slide {
    width: 100%;
  }
  #project .inner .swiper .swiper-wrapper .swiper-slide .txt {
    width: 100%;
    background: transparent;
  }
  #project .inner .swiper .swiper-wrapper .swiper-slide .txt .des {
    display: none;
  }
  #project .inner .swiper .swiper-wrapper .swiper-slide .txt a {
    font: 14px/1 "arial";
  }

  #service .inner {
    width: 100%;
    padding: 0 20px;
  }
  #service .inner div {
    width: 45%;
  }
  #service .inner div h1 {
    margin-bottom: 60px;
    font: normal 30px/1.3 "Koh Santepheap";
  }
  #service .inner div a {
    font: 14px/1 "arial";
  }

  #news .inner {
    width: 100%;
  }
  #news .inner article {
    width: 100%;
  }
  #news .inner article a {
    font: 12px/1 "arial";
    color: #888;
  }

  #member .inner {
    width: 100%;
    padding: 0 20px;
  }
  #member .inner > div {
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
  }
  #member .inner > div article {
    width: 100%;
  }
  #member .inner > div article p {
    margin-bottom: 50px;
  }

  footer .inner {
    width: 100%;
    padding: 50px 20px;
  }
  footer .inner .connect input {
    width: 49%;
    margin-bottom: 20px;
  }
  footer .inner .connect input:nth-of-type(2) {
    margin-right: 0;
  }
  footer .inner .connect button {
    width: 49%;
  }
  footer .inner address {
    flex-wrap: wrap;
  }
  footer .inner address div {
    width: 50%;
    margin-bottom: 50px;
  }
  footer .inner address div:last-of-type {
    text-align: left;
  }
}

/*# sourceMappingURL=style.css.map */
