#community {
    .content {
        .sub_content{
            background: #fafafa;
            
            .slogunSection {
                .slogun {
                    width: 600px;
                    margin: 0 auto;
                    position: relative;
                    min-height: 60px;
                    background: pink;
                }
                span {
                    position: absolute;
                    top: 0;
                    left: 0;
                    font: 60px/1 'arial';
                }
            }

            .inner {
                table {
                    margin: 0 0 70px;
                    width: 100%;
                    border-top: 2px solid #000;
                    border-collapse: collapse;
    
                    caption {
                        margin-bottom: 60px;
                        font: 26px/1 'Koh Santepheap' ;
                    }
                   
                    th, td {
                        border-bottom: 1px solid #999;
                        padding: 25px 20px;
                        
                    }

                    th {
                        font: bold 17px/1 'arial';
                        color: #444;

                        &:nth-of-type(2) {
                            width: 70%;
                        }
                    }

                    td {
                        text-align: center;
                        font: normal 15px/1 'arial';
                        color: #777;
                        
                        &:nth-of-type(2) {
                            text-align: left;
                            color: #444;
                        }
                    }
                }
    
                .paging {
                    display: flex;
                    justify-content: center;
                    font-size: 0;
    
                    a {
                        display:inline-block;
                        margin-left: -1px;
                        width: 30px;
                        height: 30px;
                        border: 1px solid #888;
                        color: #444;
                        text-align: center;
                        font: normal 13px/30px 'arial';

                        &.on {
                            background: #555;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
    
}
