#join {
    .sub_visual {
        .inner {
            img {
                width: 50%;
                height: auto;
                position: absolute;
                bottom: -170px;
                right: 0;
            }
        }
    }
    .sub_content {
        padding: 150px 0;
        background: #f6f6f6;
        .inner {
            h2 {
                margin-bottom: 30px;
                font: 40px/1 'Koh Santepheap';
            }

            >p {
                margin-bottom: 50px;
                font: 19px/1 'arial';
                color: #666;
            }

            >div {
                padding: 100px;
                background: #fcfcfc;

                .agreement {
                    h3 {
                        margin-bottom: 20px;
                        padding-bottom: 20px;
                        font: 22px/1 'Koh Santepheap';
                        border-bottom: 2px solid crimson;
                        color: #333;
                    }

                    .txt {
                        overflow: auto;
                        height: 300px;
                        padding: 0 40px;
                        border: 1px solid #ddd;
                        background: #fff;

                        h4 {
                            margin-top: 30px;
                            margin-bottom: 20px;
                            font: 600 22px/1 'arial';
                            color: #333;
                        }

                        p {
                            font: 16px/1.4 'arial';
                            color: #999;
                        }

                        strong {
                            font: 16px/3.5 'arial';
                            white-space: nowrap;
                            color: #999;
                        }
                    }

                    .controls {
                        margin: 35px 0;

                        &::after {
                            content: '';
                            display: block;
                            clear: both;
                        }

                        p {
                            float: left;
                            font: 16px/1.6 'arial';
                            color: #666;
                        }

                        div {
                            float: right;

                            input[type="radio"] {
                                width: 20px;
                                height: 20px;
                                vertical-align: middle;
                                margin-right: 3px;
                            }

                            label {
                                font: 16px/1 'arial';
                                color: #666;
                                vertical-align: bottom;
                                margin-right: 20px;

                                &:last-of-type {
                                    margin-right: 0;
                                }
                            }
                        }
                    }
                }
            }
            
            #insertInfo {
                table {
                    width: 100%;

                    caption {
                        padding-bottom: 20px;
                        text-align: left;
                        font: 22px/1 'Koh Santepheap';
                        border-bottom: 2px solid crimson;
                        color: #333;
                    }
                    tr {
                        border-bottom: 1px solid #ddd;
                        &:last-of-type {
                            border-bottom: none;

                            th {
                                text-align: center;
                                
                                button {
                                    margin: 0 5px;
                                }
                            }
                        }
                        
                        th { 
                            width: 25%;
                            padding: 30px 0;
                            font: 16px/1.4 'arial';
                            text-align: left;
                            color: #666;
    
                            &:last-of-type {
                            }
                        }
                        td {
                            padding: 15px 0;
                            input[type="text"],
                            input[type="password"],
                            input[type="email"] {
                                width: 50%;
                                height: 50px;
                                padding-left: 15px;
                                border: 1px solid #ddd;
                                border-radius: 5px;
                                background: #fff;
                                font: 16px/1 'arial';
                                color: #999;
                                
                                &::placeholder {
                                    font: 16px/1 'arial';
                                    color: #999;
                                    opacity: 1;
                                    transition: 0.8s;
                                }
    
                                &:focus {
                                    &::placeholder {
                                        opacity: 0;
                                    }
                                }
                            }
                            span {
                                font-size: 0;
                                margin-right: 20px;
                                input[type="checkbox"] {
                                    width: 20px;
                                    height: 20px;
                                    vertical-align: middle;
                                    margin-right: 10px;
                                }
                                label[for="chkEmail"],
                                label[for="chkPhone"],
                                label[for="chkMail"],
                                label[for="chkSms"] {
                                    font: 16px/1 'arial';
                                    vertical-align: middle;
                                    color: #999;
                                }
                            }
                            p {
                                margin-top: 10px;
                                font: 15px/1 'arial';
                                color: crimson;
                            }
                        }
                    }
                    

                    button {
                        width: 150px;
                        height: 50px;
                        background: #333;
                        color: #fff;
                        border-radius: 30px;
                    }
                }
            }
                
        }
    }
    
}

@media screen and (max-width: 1200px){
    #join {
        .sub_visual {
            .inner {
                width: 100%;
                img {
                    min-width: 570px;
                }
            }
        }
        .sub_content {
            .inner {
                width: 100%;
                padding: 0 10px;
            }
        }
    }
}

@media screen and (max-width: 768px){
    #join {
        .sub_visual {
            .inner {
                img {
                    min-width: 350px;
                    bottom: 0;
                }
            }
        }
        .sub_content {
            .inner {
                h2 {
                    font-size: 30px;
                }
                p {
                    width: 70%;
                    font-size: 18px;
                }
                >div {
                    padding: 40px;
                    .agreement {
                        h3 {
                            margin-bottom: 15px;
                            padding-bottom: 15px;
                            font-size: 18px;
                        }
                        .txt {
                            height: 150px;
                            padding: 0 20px;
    
                            h4 {
                                margin-top: 15px;
                                margin-bottom: 10px;
                                font-size: 18px;
                            }
    
                            p {
                                line-height: 1;
                                font-size: 14px;
                            }
                        }
    
                        .controls {
                            margin: 25px 0;
                            p {
                                font-size: 14px;
                            }
                            div {
                                input[type="radio"]{
                                    width: 15px;
                                    height: 15px;
                                }
                                label {
                                    margin-right: 10px;
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                }
                #insertInfo {
                    table {
                        caption {
                            padding-bottom: 15px;
                            font-size: 18px;
                        }
                        tr {
                            th { 
                                width: 40%;
                                padding: 15px 0;
                                font-size: 14px;
                            }
                            td {
                                input[type="text"],
                                input[type="password"],
                                input[type="email"] {
                                    width: 100%;
                                    height: 40px;
                                    font-size: 14px;
        
                                    &::placeholder {
                                        font-size: 14px;
                                    }
                                }
                                
                                span {
                                    display: block;
                                    margin-right: 0;
                                    padding-bottom: 5px;
                                    input[type="checkbox"] {
                                        width: 15px;
                                        height: 15px;
                                    }
                                    label[for="chkEmail"],
                                    label[for="chkPhone"],
                                    label[for="chkMail"],
                                    label[for="chkSms"] {
                                        font-size: 14px;
                                    }
                                }
    
                                p {
                                    margin-top: 10px;
                                    font: 15px/1 'arial';
                                    color: crimson;
                                }
                            }
                        }
                        
    
                        button {
                            width: 150px;
                            height: 50px;
                            background: #333;
                            color: #fff;
                            border-radius: 30px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 539px){
    #join {
        .sub_visual {
            .inner {
                img {
                    min-width: 300px;
                    bottom: 0;
                }
            }
        }
        .sub_content {
            .inner {
                h2 {
                    text-align: center;
                }
                p {
                    width: 100%;
                    font-size: 16px;
                    text-align: center;
                }
                >div {
                    padding: 20px;
                    .agreement {
                        h3 {
                            font-size: 16px;
                        }
                        .txt {
                            h4 {
                                font-size: 16px;
                            }
                            strong {
                                font-size: 14px;
                            }
                        }
    
                        .controls {
                            p {
                                float: none;
                            }
                            div {
                                float: none;
                            }
                        }
                    }
                }
                #insertInfo {
                    table {
                        caption {
                            font-size: 16px;
                        }
                        tr {
                            td {
                                input[type="text"],
                                input[type="password"],
                                input[type="email"] {
                                    padding-left: 8px;
                                    font-size: 12px;
                                    &::placeholder {
                                        font-size: 12px;
                                    }
                                }
                                span {
                                    label[for="chkEmail"],
                                    label[for="chkPhone"],
                                    label[for="chkMail"],
                                    label[for="chkSms"] {
                                        font-size: 12px;
                                    }
                                }
                            }
                        }
                        button {
                            width: 40%;
                        }
                    }
                }
            }
        }
    }
}