#join {
    .sub_content {
        .inner {
            h2 {
                margin-bottom: 50px;
                text-align: center;
                font: 40px/1 'Koh Santepheap';
            }
            #join_form {
                table {
                    width: 60%;
                    margin: 0 auto;
                    border-top: 5px solid salmon;

                    th { 
                        width: 20%;
                        padding: 30px 0;
                        font: 16px/1 'arial';
                    }
                    td {
                        input[type="text"],
                        input[type="password"] {
                            width: 50%;
                            height: 50px;
                            border: 1px solid #aaa;
                            border-radius: 5px;
                            background: fff;

                            &::placeholder {
                                padding-left: 10px;
                            }
                        }

                        label[for="yes"] {
                            margin-right: 10px;
                        }

                    }

                    button {
                        width: 50%;
                        height: 50px;
                        background: #333;
                        color: #fff;
                    }
                }
            }
                
        }
    }
    
}