#location {
    .company {
        margin: 150px 0;
        height: 600px;
        position: relative;
       
        &::before {
            content: 'LOCATION';
            position: absolute;
            top: -5vh; left: 40%;
            transform: rotate(90deg);
            transform-origin: left bottom;
            font: 80px/1 'Koh Santepheap';
            color: #aaa;

        }

        .inner {
            height: 100%;

            &::after {
                content: '';
                display: block;
                clear: both;
            }

            .info {
                width: 50%;
                float: left;
    
                h2 {
                    margin-bottom: 20px;
                    font: 50px/1 'Koh Santepheap';
                }
        
                >p {
                    margin-bottom: 35px;
                    font: 17px/1.4 'arial';
                }

                article {
                    width: 60%;
                    margin-bottom: 35px;

                    h3 {
                        margin-bottom: 10px;
                        font: 400 18px/1 'Koh Santepheap';
                    }

                    p {
                        margin-bottom: 12px;
                        font: 15px/1.3 'arial';
                    }

                    span {
                        i {
                            width: 28px;
                            height: 28px;
                            margin-right: 10px;
                            background: #eee;
                            border-radius: 50%;
                            text-align: center;
                            font-size: 14px;
                            line-height: 28px;

                        }
                        font: 14px/1 'arial';
                        color: crimson;
                    }
                }
            }
    
            .pic {
                float: left;
                width: 50%;
                height: 100%;
                display: flex;
                justify-content: space-between;

                article {
                    float: left;
                    overflow: hidden;
                    width: 48%;
                    border-radius: 20px;

                    &:first-of-type {
                        align-self: flex-end;
                        margin-bottom: 30px;
                        height: 55%;
                    }
                    &:last-of-type {
                        align-self: flex-start;
                        margin-top: 30px;
                        height: 70%;
                    }
                }
            }
        }
        
    }
    
    .customer {
        padding: 150px 0;
        background:  #333;

        h2 {
            margin-bottom: 20px;
            text-align: center;
            font: 50px/1 'Koh Santepheap';
            color: #fff;
        }

        p {
            width: 50%;
            margin: 0 auto 50px;
            text-align: center;
            color: #fff;
        }

        #info {
            width: 60%;
            height: 100%;
            margin: 0 auto;
            font-size: 0;
            text-align: right;
            
            input {
                width: 49%;
                padding: 5px 10px;
                margin-bottom: 20px;
                margin-right: 2%;
                height: 35px;

                &::placeholder {
                    font: 16px/1 'arial';
                }

                &:nth-of-type(even) {
                    margin-right: 0;
                }
            }

            textarea {
                width: 100%;
                height: 130px;
                margin-bottom: 20px;
                padding: 5px 10px;

                &::placeholder {
                    font: 16px/1 'arial';
                }
            }

            button {
                display: inline-block;
                width: 150px;
                height: 30px;
                background: #bbb;
                border-radius: 15px;
                font: 14px/1 'arial';
                color: #333;
            }

        }
    }
    #mapWrap {
        position: relative;

        #map {
            width: 100%;
            height: 600px;
            border: 1px solid #333;
            filter: grayscale(1);
        }

        .zoomControl {
            overflow: hidden;
            position: absolute;
            top: 20px;
            right: 20px;
            border-radius: 10px;

            span {
                display: block;
                width: 45px;
                height: 45px;
                background: #333;
                text-align: center;
                line-height: 45px;
                color: #fff;
                cursor: pointer;
                transition: 0.5s;

                &:hover {
                    background: #555;
                }

                &:first-of-type {
                    border-bottom: 1px solid #000;
                }
            }
        }
    }
    
    .store {
        padding: 150px 0;

        h2 {
            margin-bottom: 20px;
            font: 23px/1 'Koh Santepheap';
        }
    
        article {
            width: 49%;
            padding: 20px;
            height: 250px;
            margin-right: 2%;
            margin-bottom: 2%;
            float: left;
            border: 1px solid #e5e5e5;
            cursor: pointer;
    
            &:nth-of-type(even) {
                margin-right: 0;
            }
    
            img { 
                width: 50%;
                float: left; 
            }
            
            dl, strong {
                float: left;
                padding-left: 30px;
                font: 20px/1 'arial';
            }
    
            dl {
                width: 50%;
                
                div {
                    &::after { content: ''; display: block; clear: both;}
                    margin-bottom: 15px;
                    
                    dt { 
                        display: inline-block;
                        padding-right: 10px;
                        color: #333;
                        font: 16px/1 'arial';
                    }
                    dd { 
                        display: inline-block;
                        color: #666;
                        font: 14px/1 'arial';
                    }
                   
                }
            }
            strong {
                margin-bottom: 15px;
            }
        }
    }
    
}