#header_sub {
    position: relative;
    padding: 2vh 5vw 10vh;
    background: #fff;
    
    h1 {
        position: absolute;
        top: 2vh; left: 5vw;
        font: bold 35px/1 'arial';
        z-index: 10;

        a {
            font: bold 35px/1 'arial';
            color: #333;
        }

        &::before { 
            content: '';
            position: absolute;
            top: 50px;
            left: 50%;
            width: 1px;
            height: 40px;
            background: #bbb;
        }

        &::after {
            content: 'mordern architecture service';
            position: absolute;
            width: 250px;
            top: 130px;
            left: 0%;
            font: 12px/1 'arial';
            transform-origin: 8% top;
            transform: rotate(90deg);
            letter-spacing: 2px;
            color: #bbb;
        }
    }
    nav {
        text-align: center;
        ul {
            display: inline-block;
            margin-top: 5px;
            
            li {
                float: left;
                margin-left: 30px;

                a {
                    font: 17px/1 'arial';
                    color: #aaa
                }
            }
        }
    }
}

section {
    .content {
        .sub_visual {
            position: relative;
            height: 400px;
            min-height: 300px;
            background: #678c9e;
            z-index: 0;

            .inner{
                width: 1180px;
                height: 100%;
                margin: 0 auto;
                position: relative;
                h1 {
                    position: absolute;
                    top: -35px;
                    left: 0;
                    font: bold 70px/1 'arial';
                }
            }
        }
        .sub_content {

            .inner {
                width: 1180px;
                margin: 0 auto;
                position: relative;
            }
        }
    }
}

#footer_sub {
    background: #fafafa;
    width: 100%;

    .inner {
        width: 1180px;
        margin: 0 auto;
        padding: 50px 0;
        
        .connect {
            margin-bottom: 70px;
            font-size: 0;
        
            legend {
                font: 14px/1 'arial'; 
                margin-bottom: 20px;
            }
            input{
                margin-right: 2%;
                width: 23.5%;
                height: 40px;
                background: #fafafa;
                border: none;
                border-bottom: 1px solid #ccc;
                font: 16px/1 'arial';
                color: #a09c9c
            }
            button {
                width: 23.5%;
                height: 40px;
                background: #333;
                color: #fff;
            }
        }

        address {
            display: flex;
            font-style: normal;

            div {
                width: 25%;

                strong {
                    display: block;
                    margin-bottom: 30px;
                    font: bold 15px/1 'arial';                    
                    letter-spacing: 2px;
                    color: #444;
                }

                p, small {
                    font: normal 16px/1.7 'arial';
                    color: #aaa;

                    em {
                        font: bold normal 15px/1 'arial';
                        color: #444;
                    }
                }

                a { 
                    margin-right: 20px;
                    font: 18px/1 'arial';
                    color: #777; 
                }

                &:last-of-type {
                    text-align: right;
                }
            }
        }
    }
}

@media screen and (max-width: 1179px){
    #header_sub {
        nav {
            display: none;
        }
        .hambergur {
            display: block;
        }
    }
    
    #footer_sub {
    
        .inner {
            width: 100%;
            padding: 50px 20px;
            
            .connect {
            
                input{
                    width: 49%;
                    margin-bottom: 20px;

                    &:nth-of-type(2){
                        margin-right: 0;
                    }
                }
                
                button {
                    width: 49%;
                }
            }
    
            address {
                flex-wrap: wrap;
    
                div {
                    width: 50%;
                    margin-bottom: 50px;
    
                    &:last-of-type {
                        text-align: left;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 539px){
    #footer_sub {
    
        .inner {
            .connect {
            
                input{
                    width: 100%;
                    margin-bottom: 20px;
                }
                
                button {
                    width: 100%;
                }
            }
    
            address {
                flex-direction: column;
    
                div {
                    width: 100%;
                    display: flex;
                    margin-bottom: 50px;
                    justify-content: space-between;
                    strong { 
                        line-height: 1.7; 
                    }
                    p { 
                    }
                }
            }
        }
    }
}
