@charset "UTF-8";

#header_sub {
    position: relative;
    padding: 2vh 5vw 10vh;
    background: #fff;
    
    h1 {
        position: absolute;
        top: 2vh; left: 5vw;
        font: bold 35px/1 'arial';
        z-index: 10;

        &::before { 
            content: '';
            position: absolute;
            top: 50px;
            left: 50%;
            width: 1px;
            height: 40px;
            background: #bbb;
        }

        &::after {
            content: 'mordern architecture service';
            position: absolute;
            width: 250px;
            top: 130px;
            left: 0%;
            font: 12px/1 'arial';
            transform-origin: 8% top;
            transform: rotate(90deg);
            letter-spacing: 2px;
            color: #bbb;
        }
    }
    nav {
        text-align: center;
        ul {
            display: inline-block;
            margin-top: 5px;
            
            li {
                float: left;
                margin-left: 30px;

                a {
                    font: 17px/1 'arial';
                    color: #aaa
                }
            }
        }
    }
}

section {
    .content {
        .sub_visual {
            position: relative;
            min-height: 300px;
            background: #fafafa;
            z-index: 1;

            .inner{
                width: 1180px;
                margin: 0 auto;
                position: relative;
                h1 {
                    position: absolute;
                    top: -35px;
                    left: 0;
                    font: bold 70px/1 'arial';
                }
            }
        }
    }
}

#footer_sub {
    background: #fafafa;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;

    .inner {
        width: 1180px;
        margin: 0 auto;
        padding: 50px 0;
        
        .connect {
            margin-bottom: 70px;
            font-size: 0;
        
            legend {
                font: 14px/1 'arial'; 
                margin-bottom: 20px;
            }
            input{
                margin-right: 2%;
                width: 23.5%;
                height: 40px;
                background: #fafafa;
                border: none;
                border-bottom: 1px solid #ccc;
                font: 16px/1 'arial';
                color: #a09c9c
            }
            button {
                width: 23.5%;
                height: 40px;
                background: #333;
                color: #fff;
            }
        }

        address {
            display: flex;
            font-style: normal;

            div {
                width: 25%;

                strong {
                    display: block;
                    margin-bottom: 30px;
                    font: bold 15px/1 'arial';                    
                    letter-spacing: 2px;
                    color: #444;
                }

                p, small {
                    font: normal 16px/1.7 'arial';
                    color: #aaa;

                    em {
                        font: bold normal 15px/1 'arial';
                        color: #444;
                    }
                }

                a { 
                    margin-right: 20px;
                    font: 18px/1 'arial';
                    color: #777; 
                }

                &:last-of-type {
                    text-align: right;
                }
            }
        }
    }
}
