#youtube {
    .sub_visual {
        h1 {
            position: absolute;
            top: -35px;
            left: 25vw;
            font: bold 70px/1 'arial';
            z-index: 100;
        }

        .bg {
            position: absolute;
            bottom: -200px; right: 0;
            max-width: 770px;
            min-width: 700px;
            width: 45%;
            div {
                width: 100%;
                padding-top: 122.6%;
            }
            img { //
                position: absolute;
                top: 0; left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    .sub_content {
        background: #f6f6f6;

        .slogun {
            height: 630px;
            position: relative;
           
            strong {
                position: absolute;
                top: 0; left: 0;
                display: flex;
                width: 100%;
                height: 100%;
                justify-content: center;
                align-items: center;
                font: 200px/1 'arial';
                color: #fff;

                &.on {
                    display: none;
                }
            }
        }

        .inner {
            padding: 150px 0;

            h2 {
                margin-bottom: 50px;
                font: 700 34px/1 'Koh Santepheap';
                color: #333; 
            }

            .videoSection1 {
                padding-bottom: 150px;
                .m_txt {
                   display: none; 
                }
                article {
                    position: relative;
                    height: 480px;

                    a {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: relative;
                        width: 65%;
                        height: 100%;

                        &::before {
                            content: '';
                            position: absolute;
                            width: 150px;
                            height: 150px;
                            background: url(../img/playB.svg) center/contain no-repeat;
                        }
                    }

                    .txt {
                        width: 50%;
                        position: absolute;
                        padding-top: 200px;
                        padding-left: 200px;
                        top: -10px;
                        right: 0;
                        background: url(../img/pattern1.png) no-repeat right center/contain;
                        height: 500px;
    
                        .container {
                            width: 60%;

                            span {
                                display: block;
                                margin-bottom: 20px;
                                font: 700 14px/1 'Advent Pro';
                                color: #666;
                                letter-spacing: 1.5px;
                            }
        
                            h3 {
                                margin-bottom: 40px;
                                font: 700 24px/1.3 'Koh Santepheap';
                                color: #333;
                            }
        
                            p {
                                font: 15px/1.3 'arial';
                                color: #444;
                            }
                        }
    
                    }
                }
            }
            
            .videoSection2 {
                padding-bottom: 150px;
                display: flex;
                justify-content: space-between;

                .txt {
                    width: 22%;

                    > span {
                        display: block;
                        margin-bottom: 20px;
                        font: 700 14px/1 'Advent Pro';
                        color: #666;
                        letter-spacing: 1.5px;
                    }
                    
                    h3 {
                        margin-bottom: 40px;
                        font: 700 24px/1.3 'Koh Santepheap';
                        color: #333;
                    }

                    p {
                        font: 15px/1.3 'arial';
                        color: #444;
                        span {
                            display: block;
                            padding-bottom: 20px;
                        }
                    }
                }

                article {
                    width: 22%;
                    background: #fcfcfc;
                    padding: 25px;
                    position: relative;
                    
                    div {
                        .pic {
                            display: block;
                            height: 200px;
                            position: relative;
    
                            &::before {
                                content: '';
                                position: absolute;
                                top: 50%; left: 50%;
                                transform: translate(-50%, -50%);
                                background: url(../img/playB.svg) center/contain no-repeat;
                                width: 60px; height: 60px;
                            }
                        }

                        h4 {
                            margin: 15px 0 15px;
                            font: 700 18px/1.3 'Koh Santepheap';
                            color: #333;
                        }

                        p {
                            font: 15px/1.3 'arial';
                            color: #444;
                        }
                    }
                }

            }

            .videoSection3 {
                padding-bottom: 150px;
                .m_txt {
                    display: none;
                }
                article {
                    position: relative;
                    height: 480px;

                    a {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 65%;
                        height: 100%;
                        float: right;
                        position: relative;

                        &::before {
                            content: '';
                            position: absolute;
                            width: 150px;
                            height: 150px;
                            background: url(../img/playB.svg) center/contain no-repeat;
                        }
                    }
                }
                .txt {
                    width: 50%;
                    position: absolute;
                    padding-top: 200px;
                    padding-left: 200px;
                    top: -10px;
                    left: 0;
                    background: url(../img/pattern2.png) no-repeat left center/contain;
                    height: 500px;

                    .container {
                        width: 60%;
                        span {
                            display: block;
                            margin-bottom: 20px;
                            font: 700 14px/1 'Advent Pro';
                            color: #666;
                            letter-spacing: 1.5px;
                        }
    
                        h3 {
                            margin-bottom: 40px;
                            font: 700 24px/1.3 'Koh Santepheap';
                            color: #333;
                        }
    
                        p {
                            font: 15px/1.3 'arial';
                            color: #444;
                        }
                    }

                }
            }
            
            .channel {
                position: relative;

                strong {
                    display: block;
                    margin-bottom: 30px;
                    padding-top: 80px;
                    font: 50px/1 'arial';
                    text-align: center;
                }
                span {
                    display: block;
                    margin-bottom: 70px;
                    font: 20px/1.3 'arial';
                    text-align: center;
                }

                .imac {
                    position: relative;
                    width: 85%;
                    height: 1000px;
                    margin:0 auto;
                    background: url(../img/iMac.png) no-repeat center/contain;
                    background-color: #e7efec;
                    border-radius: 50%;

                    .screen {
                        position: absolute;
                        top: 50%; left: 50%;
                        transform: translate(-50%, -66%);
                        width: 67.5%;
                        height: 370px;
                        overflow: hidden;
                        border-radius: 5px;
                        background: pink;
                        z-index: 100;
                    }
                }

                .sns {
                    position: absolute;
                    font: 18px/1 'arial';
                    width: 18%;
                    color: #555;

                    &.sns1 { top: 55%; left: 0; }
                    &.sns2 { 
                        top: 33%; left: 50%;
                        transform: translateX(-50%);
                        text-align: center; 
                    }
                    &.sns3 { 
                        top: 55%; right: 0;
                        text-align: right;  
                    }

                    h3 { margin-bottom: 15px;}
                    p { line-height: 1.2; }
                }
            }
        }
    }
}

figure {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100vh;
    background: rgba(0,0,0,0.8);
    z-index: 1000;
    display: none;
    display: flex;
    justify-content: center;
    align-items: center;

    button {
        position: absolute;
        top: 30px; right: 30px;
        font: 20px/1 'arial'; 
        color: #fff;
    }
}

@media screen and (max-width: 1179px){
#youtube{
    .sub_visual {
        h1 {
            left: 15vw;
        }

        .bg {
            bottom: -100px;
            min-width: 550px;
        }
    }
    .sub_content {
        .slogun {
            height: 600px;
            strong {
                font-size: 110px;
            }
        }
        
        .inner {
            padding: 12.8vw 20px;
            width: 100%;

            .videoSection1 {
                padding-bottom: 12.8vw;
                article {
                    height: 0;
                    padding-top: 43%;

                    a {
                        position: absolute;
                        top: 0; left: 0;

                        &::before {
                            width: 20.6%;
                            height: 0;
                            padding-top: 20.6%;
                        }
                    }

                    .txt {
                        top: -3%;
                        height: 104%;
                        padding-top: 17.8%;
                        padding-left: 17.8%;
    
                        .container {
                            width: 70%;
                            span {
                                font-size: 1.2vw;
                                margin-bottom: 1.4em;
                            }
        
                            h3 {
                                font-size: 2vw;
                                margin-bottom: 1.7em;
                            }
        
                            p {
                                font-size: 1.4vw;
                            }
                        }
    
                    }
                }
            }
            
            .videoSection2 {
                display: block;
                padding-bottom: 12.8vw;                
                .txt {
                    width: 100%;
                    > span {
                        font-size: 1.2vw;
                        margin-bottom: 1.4em;
                    }
                    
                    h3 {
                        margin-bottom: 0.7em;
                        font-size: 2vw;
                    }

                    p {
                        margin-bottom: 1.25em;
                        font-size: 1.4vw;
                        span {
                            padding-bottom: 0;
                            font-size: 1.4vw;
                        }
                    }
                }

                article {
                    width: 32%;
                    margin-right: 2%;
                    padding: 0;
                    padding-top: 37%;
                    float: left;

                    &:last-of-type{
                        margin-right: 0;
                    }

                    div {
                        position: absolute;
                        top: 0; left: 0;
                        padding: 20px 25px;

                        .pic {
                            height: 0;
                            padding-top: 81.3%;
                            z-index: 1;

                            img {
                                position: absolute;
                                top: 0; left: 0;
                                z-index: 2;
                            }
    
                            &::before {
                                z-index: 3;
                                width: 27%; height: 0;
                                padding-top: 27%;
                                
                            }
                        }

                        h4 {
                            font-size: 1.5vw;
                            min-height: 2.6em;
                            margin: 1em 0 1em;
                        }

                        p {
                            font-size: 1.4vw;
                        }
                    }

                
                }

            }

            .videoSection3 {
                padding-bottom: 12.8vw;
                article {
                    height: 0;
                    padding-top: 43%;

                    a {
                        position: absolute;
                        top: 0; right: 0;

                        &::before {
                            width: 20.6%;
                            height: 0;
                            padding-top: 20.6%;
                        }
                    }

                    .txt {
                        padding-top: 17.8%;
                        padding-left: 17.8%;
                        top: -3%;
                        background: url(../img/pattern2.png) no-repeat left center/contain;
                        height: 104%;
    
                        .container {
                            width: 70%;
                            span {
                                font-size: 1.2vw;
                                margin-bottom: 1.4em;
                            }
        
                            h3 {
                                font-size: 2vw;
                                margin-bottom: 1.7em;
                            }
        
                            p {
                                font-size: 1.4vw;
                            }
                        }
    
                    }
                }
            }

            .channel {

                &::after {
                    content: '';
                    display: block;
                    clear: both;
                }

                .imac {
                    width: 85%;
                    height: 0;
                    padding-top:100%; 
                    margin-bottom: 50px;

                    .screen {
                        width: 67.5%;
                        height: 31%;
                    }
                }

                .sns {
                    position: static;
                    width: 30%;
                    margin-right: 5%;
                    float: left;
                    
                    &.sns2 { 
                        transform: translateX(0);
                        text-align: left;
                    }
                    &.sns3 { 
                        text-align: left;  
                        margin-right: 0;
                    }
                }
            }
        }
    }
}
}

@media screen and (max-width: 768px){
    #youtube{
        .sub_visual {
            .bg {
                min-width: 350px;
                bottom: 0;
                width: 60%;
            }
        }
        .sub_content {
            .slogun {
                height: 400px;
                strong {
                    font-size: 70px;
                }
            }
            .inner {
                h2 {
                    font-size: 28px;
                }
                .videoSection1 {
                    article {
                        .txt {
                            padding-top: 13%;
                            padding-left: 12%;
        
                            .container {
                                width: 80%;
                                span {
                                    font-size: 1.5vw;
                                }
            
                                h3 {
                                    font-size: 2.5vw;
                                }
            
                                p {
                                    font-size: 2vw;
                                }
                            }
        
                        }
                    }
                }
                
                .videoSection2 {
                    .txt {
                        span {
                            font-size: 1.5vw;
                        }
                        
                        h3 {
                            font-size: 2.5vw;
                        }
    
                        p {
                            font-size: 2vw;
                            span {
                                padding-bottom: 0;
                                font-size: 2vw;
                            }
                        }
                    }
    
                    article {
                        padding-top: 44%;
    
                        div {
                            padding: 10px 15px;
    
                            h4 {
                                font-size: 2vw;
                            }
    
                            p {
                                font-size: 1.7vw;
                            }
                        }
    
                    
                    }
    
                }
    
                .videoSection3 {
                    article {
                        .txt {
                            padding-top: 13%;
                            padding-left: 12%;
                            .container {
                                width: 80%;
                                span {
                                    font-size: 1.5vw;
                                }
            
                                h3 {
                                    font-size: 2.5vw;
                                }
            
                                p {
                                    font-size: 2vw;
                                }
                            }
        
                        }
                    }
                }
    
                .channel {
    
                    &::after {
                        content: '';
                        display: block;
                        clear: both;
                    }
    
                    .imac {
                        width: 85%;
                        height: 0;
                        padding-top:100%; 
                        margin-bottom: 50px;
    
                        .screen {
                            width: 67.5%;
                            height: 31%;
                        }
                    }
    
                    .sns {
                        position: static;
                        width: 30%;
                        margin-right: 5%;
                        float: left;
                        
                        &.sns2 { 
                            transform: translateX(0);
                            text-align: left;
                        }
                        &.sns3 { 
                            text-align: left;  
                            margin-right: 0;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 539px){
    #youtube{
        .sub_visual {
            h1 {
                display: block;
                width: 100%;
                text-align: center;
                left: 0;
                font-size: 50px;
            }
        }
        .sub_content {
            .slogun {
                height: 400px;
                strong {
                    font-size: 70px;
                }
            }
            .inner {
                h2 {
                    font-size: 25px;
                }
                .videoSection1 {
                    .m_txt {
                        display: block;
                        .container {
                            width: 80%;
                            span {
                                display: block;
                                font: 700 3vw/1 'Advent Pro';
                                color: #666;
                                letter-spacing: 1.5px;
                                margin-bottom: 1.4em;
                            }
        
                            h3 {
                                font: 700 4.5vw/1.3 'Koh Santepheap';
                                color: #333;
                                margin-bottom: 0.7em;
                            }
        
                            p {
                                font: 3.3vw/1.3 'arial';
                                color: #444;
                                margin-bottom: 1.25em;
                            }
                        }
                    }
                    article {
                        padding-top: 65%;
                        .txt {
                            display: none;
                        }
                        a {
                            width: 100%;
                        }
                    }
                }
                
                .videoSection2 {
                    .txt {
                        width: 80%;
                        span {
                            font-size: 3vw;
                        }
                        
                        h3 {
                            font-size: 4.5vw;
                        }
    
                        p {
                            font-size: 3.3vw;
                            span {
                                font-size: 3.3vw;
                            }
                        }
                    }
    
                    article {
                        width: 100%;
                        margin-right: 0;
                        margin-bottom: 7.6vw;
                        padding-top: 85%;
                        &:last-of-type{
                            margin-bottom: 0;
                        }
                        div {
                            width: 100%;
                            padding: 0;
                            .pic{
                                padding-top: 65%;
                                &::before {
                                    width: 20.6%;
                                    padding-top: 20.6%;
                                }
                            }
    
                            h4 {
                                font-size: 4vw;
                                min-height: 0;
                                margin: 1em 0 0.3em;
                            }
    
                            p {
                                font-size: 3vw;
                            }
                        }
    
                    
                    }
    
                }
    
                .videoSection3 {
                    .m_txt {
                        display: block;
                        .container {
                            width: 80%;
                            span {
                                display: block;
                                font: 700 3vw/1 'Advent Pro';
                                color: #666;
                                letter-spacing: 1.5px;
                                margin-bottom: 1.4em;
                            }
        
                            h3 {
                                font: 700 4.5vw/1.3 'Koh Santepheap';
                                color: #333;
                                margin-bottom: 0.6em;
                            }
        
                            p {
                                font: 3.3vw/1.3 'arial';
                                color: #444;
                                margin-bottom: 1em;
                            }
                        }
                    }
                    article {
                        padding-top: 65%;
                        .txt {
                            display: none;
                        }
                        a{
                            width: 100%;
                        }
                    }
                }
    
                .channel {
    
                    &::after {
                        content: '';
                        display: block;
                        clear: both;
                    }
    
                    .imac {
                        width: 85%;
                        height: 0;
                        padding-top:100%; 
                        margin-bottom: 50px;
    
                        .screen {
                            width: 67.5%;
                            height: 31%;
                        }
                    }
    
                    .sns {
                        position: static;
                        width: 30%;
                        margin-right: 5%;
                        float: left;
                        
                        &.sns2 { 
                            transform: translateX(0);
                            text-align: left;
                        }
                        &.sns3 { 
                            text-align: left;  
                            margin-right: 0;
                        }
                    }
                }
            }
        }
    }
}

